* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: linear-gradient(rgb(110, 2, 110), rgb(185, 23, 123), rgb(64, 64, 240));
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.banner1 {
    background-color: #1f003b;
    width: 100%;
    height: 51vh;
    background-size: cover;
    background-position: center;
}

.banner2 {
    background-image: linear-gradient(rgb(21, 52, 92), rgb(29, 82, 143),rgb(32, 91, 159));
    background-color:rgb(24, 59, 104);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
}

.navbar {
    width: 80%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.navbar .logo {
    width: 45px;
    margin-top: 5.5px;
}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 550;
    font-size: 16px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.navbar ul li a:hover {
    background: #f6f4ff;
}

.navbar ul li a.relleno {
    background: #292d2e;
    color:white;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #f6f4ff;
}

.content h1{
    font-size: 70px;
    margin-top: -10px;
    margin-left: 140px;
}

.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
    margin-left: 140px;
}

.content button {
    font-size: 16px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: -130px;
    margin-bottom: 18px;
    border-radius: 25px;
    font-weight: 35px;
    border: 2px solid #594ef6;
    background: transparent;
    color: #f6f4ff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.content span{
    background: #594ef6;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.content button:hover span{
    width: 100%;
}
.content button:hover {
    border: none;
}

.contenido {
    height: 40vh;
    width: 100%;
    position: absolute;
    top: 110%; 
    color: #212526;
}

.contenido h1 {
    text-align: right;
    font-size: 40px;
    margin-right: 350px;
}

.contenido p{
    text-align: left;
    font-weight: 100;
    line-height: 25px;
    margin-left: 785px;
    margin-top: 15px;
}

.contenido button {
    font-size: 16px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-top: 30px;
    margin-left: 785px;
    border-radius: 25px;
    font-weight: 35px;
    border: 2px solid #212526;
    background: transparent;
    color: #212526;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.contenido span{
    background: #e0deec;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.contenido button:hover span{
    width: 100%;
}
.contenido button:hover {
    border: none;
}

.fondo {
    background: rgb(24, 24, 24);
    height: 75vh;
    width: 100%;
    position: absolute;
    top: 165%; 
    color: #f6f4ff;
}

.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.titulop h2 {
    color: #f6f4ff;;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 400;
}

.parrafo a {
    text-decoration: none;
    color: #f6f4ff;
    margin: 0 2px;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(65, 65, 65);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
  }

.parrafo h3 {
    font-size: 24px;
    font-weight: 300;
}

.parrafo p {
    margin-top: 7px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 25px;
    font-weight: 100;
}

.parrafo a:hover {
    align-items: center;
    background: #343435;
}

.parrafo a.botoncard {
    background: #343435;
    color:#f6f4ff;
}

.plataformas {
    position: absolute;
    margin-top: 120px;
    margin-left: 140px;
}

.plataformas a {
    display: inline-block;
    color: #f6f4ff;
    margin-right: 27px;
    font-size: 24px;
}

.footer{
    position: absolute;
    align-self: flex-end;
    top: 240%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 34vh;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer1{
    position: absolute;
    align-self: flex-end;
    top: 292%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 34vh;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer2{
    position: absolute;
    align-self: flex-end;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 34vh;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footercontenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footercontenido h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footercontenido p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.redes li{
    margin: 0 10px;
}

.redes a{
    text-decoration: none;
    color: #fff;
}

.redes a i{
    font-size: 1.4rem;
    transition: color .4s ease;
}

.redes a:hover i{
    color: #9b9b9d;
}

.footerbottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footerbottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footerbottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: #afafb2;;
}

.sobrenosotros {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #f6f4ff;
}

.wave {
    margin-top: 37px;
    width: 100%;
}

.sobrenosotros h1{
    font-size: 45px;
}

.contenidos {
    width: 100%;
    position: absolute;
    top: 58%;
}

.contenidos h2 {
    color: #1f003b;
    font-size: 31px;
    text-align: center;
    font-weight: 700;
}

.contenidos h3 {
    color: #444444;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
}

.mision {
    position: absolute;
    width: 58%;
    top: 93%;
    margin: 0;
    height: 350px;
    box-shadow: 0 0 2.4em rgba(25, 0, 66, 0.1); 
    border-radius: 0.3em;
    color: #1f003b;
    background-color: white;
}

.mision h2 {
    color: #1f003b;
    padding-left: 19vh;
    margin-top: 74px;
    font-size: 25px;
    text-align: left;
    font-weight: 700;
}

.mision h3 {
    color: #444444;
    margin-top: 10px;
    padding-left: 19vh;
    text-align: left;
    font-weight: lighter;
    font-size: 18px;
    line-height: 30px;
}

.tituloe h2 {
    color: #1f003b;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.fondo2 {
    background: white;
    height: 75vh;
    width: 100%;
    position: absolute;
    top: 143%; 
    color: #212526;
}

.equipo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.cardequipo {
    position: relative;
    margin: 22px;
    height: 365px;
    width: 335px;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1); 
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: white;
}

.cardequipo .imagenequipo {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.cardequipo img {
    width: 100%;
    border-radius: 50%;
}

.cardequipo h3 {
    font-weight: 500;
}

.cardequipo p {
    font-weight: 100;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.cardequipo .iconosequipo {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.cardequipo a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}

.cardequipo:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: white;
}

.cardequipo:hover .imagenequipo {
    transform: scale(1.15);
}

.contacto {
    width: 100%;
    position: absolute;
    top: 110em;
    margin: 50px auto;
}

.contacto h2 {
    color: #1f003b;
    padding-left: 6.9vh;
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 48px;
}

.cuadrocontacto {
    background: white;
    display: flex;
}

.izquierdol {
    flex-basis: 60%;
    background: rgb(252, 252, 252);
    padding: 40px 60px;
}

.izquierdol h3 {
    color: #212526;
    margin-bottom: 30px;
}

.derechol {
    flex-basis: 40%;
    padding: 40px;
    background: #6348cd;
    color: white;
}

.inputrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputrow .inputgroup {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    background: rgb(252, 252, 252);
    border-bottom: 1px solid rgb(252, 252, 252);
    outline: none;
    padding-bottom: 5px;
}

textarea {
    background:rgb(252, 252, 252);
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgb(252, 252, 252);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #1f003b;
}

.bcontacto {
    font-size: 15px;
    cursor: pointer;
    background: #212526;
    width: 80px;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 40px;
    font-weight: 200;
}

.maquetado {
    width: 100%;
    position: absolute;
    top: 19%;
    text-align: center;
    color: #f6f4ff;
}

.maquetado h1{
    font-size: 43px;
    text-align: center;
    color: white;
}

.maquetado h2 {
    font-size: 30px;
    text-align: right;
    margin-top: 15vh;
    margin-right: 40vh;
    color: white;
}

.maquetado p {
    font-size: 15.5px;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
    margin-left: 916px;
    color: white;
    line-height: 30px;
}

.boceto {
    width: 100%;
    position: absolute;
    top: 34%; 
}

.deslizarp {
	position: relative;
	max-width: 48rem;
	margin-left: 10vh;
}

.deslizar {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0rem 1.8rem 3rem 0.5rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	scrollbar-width: none;
}

.deslizar::-webkit-scrollbar {
	display: none;
}

.deslizar img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.deslizar-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.deslizar-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.deslizar-nav a:hover {
	opacity: 1;
}