* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: linear-gradient(rgb(110, 2, 110), rgb(185, 23, 123), rgb(64, 64, 240));
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
}

.navbar {
    width: 80%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.navbar .logo {
    width: 55px;
    margin-top: 5.5px;
}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 550;
    font-size: 16px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.navbar ul li a:hover {
    background: #f6f4ff;
}

.navbar ul li a.relleno {
    background: #594ef6;
    color:white;
}

.navm {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;

}

.navm:hover {
    background: #f6f4ff;
}

.navm div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    .navbar {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: white;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
    }

    #navb:checked ~ nav {
        left: 0
    }

    .navbar .logo {
        display: block;
        height: 70px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .navbar ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .navbar ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .navm {
        display: block;
    }
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 140px;
    color: #f6f4ff;
}

.content h1{
    font-size: 70px;
    margin-top: -10px;
}

.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content button {
    font-size: 16px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: 35px;
    border: 2px solid #594ef6;
    background: transparent;
    color: #f6f4ff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.content span{
    background: #594ef6;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.content button:hover span{
    width: 100%;
}
.content button:hover {
    border: none;
}

.contenido {
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 110%; 
    color: #212526;
}

.contenido h1 {
    text-align: right;
    font-size: 40px;
    margin-right: 350px;
}

.contenido p{
    text-align: left;
    font-weight: 100;
    line-height: 25px;
    margin-left: 785px;
    margin-top: 15px;
}

.contenido button {
    font-size: 16px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 30px 785px;
    border-radius: 25px;
    font-weight: 35px;
    border: 2px solid #212526;
    background: transparent;
    color: #212526;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.contenido span{
    background: #e0deec;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.contenido button:hover span{
    width: 100%;
}
.contenido button:hover {
    border: none;
}

.fondo {
    background: rgb(24, 24, 24);
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 165%; 
    color: #f6f4ff;
}

.proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}


.titulop h2 {
    color: #f6f4ff;;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 400;
}

.parrafo a {
    text-decoration: none;
    color: #f6f4ff;
    margin: 0 2px;
    font-weight: 300;
    font-size: 15px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(65, 65, 65);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.parrafo h3 {
    font-size: 24px;
    font-weight: 300;
}

.parrafo p {
    margin-top: 7px;
    font-weight: lighter;
    line-height: 25px;
    margin-bottom: 25px;
    font-weight: 100;
}

.parrafo a:hover {
    align-items: center;
    background: #343435;
}

.parrafo a.botoncard {
    background: #343435;
    color:white;
}

.plataformas {
    position: relative;
}

.plataformas .







